<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 在这里可以引入xml形式的配置文件 -->

    <!-- 数据存储配置 -->
    <!--<import resource="classpath:config/db/db.xml"/>-->


</beans>
